.wrapper {
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    width: 26rem;
    z-index: 3;
    user-select: text;

    .header {
        margin: 0 0 0.5rem 0;
    }
    
    .content {
        font-size: 1rem;
    }
  }
  
  