//$light-blue: #f4f7ff;
$light-blue: white;
$amz-orange: #FF9900 ;

$mid-blue: #e1ebff;
$dark-blue: #d0dfff;
$darker-blue: #aec8fd;
$darkest-blue: #050659;

$base: $light-blue;
$accent: $mid-blue;
$accent2: $dark-blue;

